<div class="form-field {{classes}}">
    <div class="form-field__inner">
        <input
            id="{{id}}"
            type="{{type}}"
            name="{{name}}"
            value="{{value}}"
            class="form-field__input {{inputClasses}}"
        />
        {{#if label}}
            <label
                for="{{id}}"
                class="form-field__label {{labelClasses}}"
            >{{label}}</label>
        {{/if}}
    </div>
    {{#if error}}
        <span class="form-field__error">{{error}}</span>
    {{/if}}
</div>
